/* HOME */

.BackgroundYellowDivStyles {
    background-color: rgb(248, 242, 114);
    width: 100%;
    height: 100%;
    position: fixed;
}

.HomeImageDivStyles {
    margin: 0 auto;
    margin-top: 100px;
    background-color: grey;
    width: 300px;
    height: 200px;
}

.HomeTitleDivStyles {
    margin: 0 auto;
    margin-top: 40px;
    width: 65%;
    font-family: 'GalanoGrotesque';
    font-size: 60px;
    line-height: 60px;
}

.HomeSubtitleDivStyles {
    margin: 0 auto;
    margin-top: 20px;
    width: 65%;
    font-family: 'GalanoGrotesque';
    font-size: 30px;
    font-weight: 100;
    line-height: 60px;
}

.HomeButtonDivStyles {
    margin: 0 auto;
    margin-top: 35px;
    width: 100%;
}

.HomeButtonStyles {
    outline: none;
    display: inline;
    padding: 11px 24px 11px 24px;
    border: solid 3px #231f20;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    font-family: GalanoGrotesque;
    font-weight: bold;
    font-size: 18px;
}

.HomeButtonStyles:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* QUESTIONARY */

.BackgroundPinkDivStyles {
    background-color: rgb(247, 170, 172);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
}

.Confetti {
    background-image: url(../../assets/images/confetti.png);
}

.ScoreDivStyles {
    position: absolute;
    float: left;
    width: 139px;
    padding: 6px 0 12px 0px;
    border-radius: 5px;
    background-color: #231f20;
    top: 42px;
    margin-left: 85px;
}

.ScoreTextStyles {
    width: 139px;
    height: 20px;
    font-family: GalanoGrotesque;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
    padding: 0;
    margin: 0;
}

.TimerDivStyles {
    position: absolute;
    width: 100%;
    top: 49px;
}

.TimerIconStyles {
    display: inline;
    vertical-align: top;
    width: 29px;
    height: 34px;
    margin: 0 10px 0 0;
}

.TimerTextStyles {
    display: inline;
    vertical-align: middle;
    width: 101px;
    height: 33px;
    font-family: 'digital-7';
    font-weight: 500;
    font-size: 48px;
    /*background-color: #231f20;*/
}

.OALogoDivStyles {
    position: absolute;
    float: right;
    right: 0;
    top: 52px;
    margin-right: 85px;
    width: 143px;
    height: 36px;
    background-color: #086082;
    color: white;
    font-size: 14px;
}

.OALogoDivStyles div {
    display: inline;
}

.ImageDivStyles {
    margin: 0 auto;
    margin-top: 236px;
    width: 350px;
    height: 350px;
    background-color: #d8d8d8;
}

.ImageBoxStyles {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.ImageBoxStyles img {
    width: auto;
    height: 100%;
}

.ImageRotateStyles {
    position: relative;
    top: -353px;
}

.ImageDottedStyles {
    position: relative;
    top: -353px;
}

.ImageForegroundStyles {
    position: relative;
    top: -706px;
}

.RotateAdjustment {
    top: -706px;
}

.ForegroundAdjustment {
    top: -1059px;
}

.QuestionDivStyles {
    margin: 0 auto;
    margin-top: 106px;
    margin-bottom: 32px;
    font-family: GalanoGrotesque;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.Is-the-Leaning-Tower-of-Pisa-straight .text-style-1 {
    letter-spacing: -2.4px;
}

.Is-the-Leaning-Tower-of-Pisa-straight .text-style-2 {
    letter-spacing: -0.33px;
}

.Is-the-Leaning-Tower-of-Pisa-straight .text-style-3 {
    letter-spacing: -0.21px;
}

.Is-the-Leaning-Tower-of-Pisa-straight .text-style-4 {
    letter-spacing: -0.09px;
}

.Is-the-Leaning-Tower-of-Pisa-straight .text-style-5 {
    letter-spacing: 0.39px;
}

.AnswerOptionsStyles {
    margin: 0 auto;
    width: 100%;
}

.AnswerButtonStyles {
    outline: none;
    display: inline;
    padding: 11px 26px 11px 26px;
    border: solid 3px #231f20;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    font-family: GalanoGrotesque;
    font-size: 18px;
    font-weight: bold;
    color: #231f20;
}

.AnswerButtonStyles:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.Yes {
    margin-right: 8px;
}

.No {
    margin-left: 8px;
}

.Green {
    background-color: rgb(156, 217, 100) !important;
}

.Red {
    background-color: rgb(235, 78, 80) !important;
}

/* Media Query for Mobile */

@media only screen and (max-width: 540px) and (max-height: 824px) {
    .HomeTitleDivStyles {
        margin: 0 auto;
        margin-top: 30px;
        /* margin-bottom: 32px; */
        width: 90%;
        font-family: 'GalanoGrotesque';
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        line-height: 32px;
    }
    .HomeSubtitleDivStyles {
        margin: 0 auto;
        margin-top: 10px;
        width: 65%;
        font-family: 'GalanoGrotesque';
        font-size: 24px;
        font-weight: 100;
        line-height: 60px;
    }
    .HomeButtonDivStyles {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
    }
    .ScoreDivStyles {
        position: absolute;
        float: left;
        width: 106px;
        border-radius: 5px;
        background-color: #231f20;
        top: 24px;
        margin-left: 11px;
        text-align: center;
    }
    .ScoreTextStyles {
        width: 106px;
        height: 16px;
        font-family: GalanoGrotesque;
        font-size: 16px;
        font-weight: 600;
        color: #fefefe;
    }
    .TimerDivStyles {
        position: absolute;
        width: 100%;
        top: 86px;
    }
    .TimerIconStyles {
        display: inline;
        vertical-align: top;
        width: 23px;
        height: 26px;
        margin: 0 10px 0 0;
    }
    .TimerTextStyles {
        display: inline;
        vertical-align: middle;
        width: 81px;
        height: 27px;
        font-family: 'digital-7';
        font-weight: 500;
        font-size: 40px;
    }
    .OALogoDivStyles {
        position: absolute;
        float: right;
        top: 26px;
        right: 0;
        margin-right: 13px;
        width: 120px;
        height: 30px;
        background-color: #086082;
        color: white;
        font-size: 12px;
    }
    .ImageDivStyles {
        margin: 0 auto;
        margin-top: 160px;
        width: 262px;
        height: 341px;
        background-color: #d8d8d8;
        overflow: hidden;
    }
    .QuestionDivStyles {
        width: 296px;
        height: 70px;
        margin: 0 auto;
        margin-top: 17px;
        margin-bottom: 27px;
        font-family: GalanoGrotesque;
        font-size: 24px;
        font-weight: bold;
        color: #000000;
    }
    .AnswerButtonStyles {
        display: inline;
        width: 224px;
        height: 40px;
        padding: 13px 24px 13px 24px;
        border-radius: 25px;
        border: solid 3px #000000;
        background-color: white;
        font-family: GalanoGrotesque;
        font-size: 18px;
        font-weight: bold;
        color: #231f20;
    }
    .ImageRotateStyles {
        position: relative;
        top: -344px;
    }
    .ImageForegroundStyles {
        position: relative;
        top: -688px
    }
    .ImageDottedStyles {
        position: relative;
        top: -344px;
    }
    .RotateAdjustment {
        top: -688px;
    }
    .ForegroundAdjustment {
        top: -1032px;
    }
}